# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import api_key
print("api_key: " +api_key)

api_key: AIzaSyA9HQt_wKGgZ2s5E3Zp_wkYrCExoLAchnE

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
file_one = "../WeattherPy/Output/WeatherPyOutput.csv"
weatherPyOutput_df = pd.read_csv(file_one, encoding="ISO-8859-1")
weatherPyOutput_df

   Unnamed: 0              city    lat     lon   temp  hum  cloud   wind
0           0           aalburg  51.75    5.13  57.56   89    100   3.00
1           1       santa marta  11.24  -74.20  86.00   71     99   1.01
2           2           hlukhiv  51.68   33.92  39.76   76     24   7.99
3           3         kingisepp  59.37   28.61  35.22   86     89   3.40
4           4             weihe  33.00  105.32  48.06   49     96   3.00
5           5             khust  48.18   23.30  42.80   81     44   3.36
6           6  arroio dos ratos -30.08  -51.73  77.41   61      0  14.99
7           7       aguas belas  -9.11  -37.12  92.50   26      0  17.38
8           8           chizhou  30.66  117.48  59.41   85    100   3.65
9           9            kardia  40.47   22.99  60.08   71     20   4.70

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [18]:
gmaps.configure(api_key=api_key)

In [19]:
jupyter nbextension enable --py gmaps

SyntaxError: invalid syntax (<ipython-input-19-a1f9ad41e54e>, line 1)

In [21]:
# Store latitude and longitude in locations
locations = weatherPyOutput_df[["lat", "lon"]]
weights = weatherPyOutput_df["hum"]
#types="Lodging"

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure