# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [20]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import api_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [21]:
file_one = "../WeattherPy/Output/WeatherPyOutput.csv"
weatherPyOutput_df = pd.read_csv(file_one, encoding="ISO-8859-1")
weatherPyOutput_df

     Unnamed: 0         city country    lat     lon   temp  hum  cloud   wind
0             0       Tornio      FI  65.85   24.15  33.80   86     75   6.93
1             1      Ungheni      MD  47.20   27.80  59.31   67      0   3.24
2             2    Yachimata      JP  35.65  140.32  53.74   93      0   6.93
3             3  Bogdanovich      RU  56.78   62.05  34.39   98    100   5.61
4             4    Moss Vale      AU -34.55  150.38  54.91  100     90   8.05
..          ...          ...     ...    ...     ...    ...  ...    ...    ...
567         567        Mongo      TD  12.18   18.69  85.28   20     15   4.68
568         568     Progreso      MX  21.28  -89.67  88.41   66     75   9.17
569         569    Villerupt      FR  49.47    5.93  54.41   92     97   7.00
570         570    Tataouine      TN  32.93   10.45  73.40   60     52  10.29
571         571  San Joaquin      US  37.93 -121.30  63.55   63      1   2.44

[572 rows x 9 columns]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [22]:
gmaps.configure(api_key=api_key)

In [23]:
# Store latitude and longitude in locations
locations = weatherPyOutput_df[["lat", "lon"]]
weights = weatherPyOutput_df["hum"]
#types="Lodging"

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights, 
                                 dissipating=True, max_intensity=90,
                                 point_radius=5,opacity=.4)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [24]:
perfect_weather_df=weatherPyOutput_df[weatherPyOutput_df["temp"]>70]
perfect_weather_df=perfect_weather_df[perfect_weather_df["temp"]<80]
perfect_weather_df=perfect_weather_df[perfect_weather_df["wind"]<10]
perfect_weather_df=perfect_weather_df[perfect_weather_df["cloud"]==0]
perfect_weather_df

,Unnamed: 0,city,country,lat,lon,temp,hum,cloud,wind
19,19,Kashmor,PK,28.43,69.58,75.22,17,0,5.64
96,96,Rasulnagar,PK,32.33,73.78,71.60,60,0,5.64
118,118,BhÄdra,IN,29.12,75.17,74.37,19,0,2.06
145,145,Samaro,PK,25.28,69.40,78.75,39,0,9.26
166,166,Kozan,TR,37.46,35.82,76.62,28,0,5.82
183,183,SamÄstipur,IN,25.85,85.78,75.74,48,0,4.70
262,262,Jhajha,IN,24.77,86.37,74.07,55,0,3.00
295,295,Villavieja,ES,39.85,-0.18,70.50,40,0,8.05
301,301,TÅ«krah,LY,32.53,20.58,70.74,62,0,7.63
337,337,Chak Five Hundred Seventy-five,PK,31.55,73.83,73.40,56,0,3.78
406,406,NÄngloi JÄt,IN,28.68,77.07,77.05,49,0,2.80
466,466,AnÅ«pgarh,IN,29.19,73.21,79.11,15,0,8.99
474,474,Madeji,PK,27.75,68.45,73.40,56,0,4.03
480,480,Ahmadpur East,PK,29.14,71.26,71.10,20,0,2.19
494,494,Kamoke,PK,31.97,74.22,71.29,56,0,4.36

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [25]:
hotel_df=perfect_weather_df.drop(columns=["Unnamed: 0"]).reset_index()
#hotel_df=hotel_df.head()
hotel_df

,index,city,country,lat,lon,temp,hum,cloud,wind
0,19,Kashmor,PK,28.43,69.58,75.22,17,0,5.64
1,96,Rasulnagar,PK,32.33,73.78,71.60,60,0,5.64
2,118,BhÄdra,IN,29.12,75.17,74.37,19,0,2.06
3,145,Samaro,PK,25.28,69.40,78.75,39,0,9.26
4,166,Kozan,TR,37.46,35.82,76.62,28,0,5.82
5,183,SamÄstipur,IN,25.85,85.78,75.74,48,0,4.70
6,262,Jhajha,IN,24.77,86.37,74.07,55,0,3.00
7,295,Villavieja,ES,39.85,-0.18,70.50,40,0,8.05
8,301,TÅ«krah,LY,32.53,20.58,70.74,62,0,7.63
9,337,Chak Five Hundred Seventy-five,PK,31.55,73.83,73.40,56,0,3.78
10,406,NÄngloi JÄt,IN,28.68,77.07,77.05,49,0,2.80
11,466,AnÅ«pgarh,IN,29.19,73.21,79.11,15,0,8.99
12,474,Madeji,PK,27.75,68.45,73.40,56,0,4.03
13,480,Ahmadpur East,PK,29.14,71.26,71.10,20,0,2.19
14,494,Kamoke,PK,31.97,74.22,71.29,56,0,4.36

In [26]:
url="https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
#location=28.20,80.28&radius=5000&type=lodging&key=AIzaSyA9HQt_wKGgZ2s5E3Zp_wkYrCExoLAchnE
radius="5000"
type="Hotel"

hotels = []
cities = []
countries = []
hotel_lats = []
hotel_lngs = []

for i,place in hotel_df.iterrows():
    try:
        location=f"location={place['lat']},{place['lon']}"
        query_url = f"{url}{location}&key={api_key}&radius={radius}&type={type}&opennow=True"
        response = requests.get(query_url + location).json()

        # make request and print url
        hotels.append(response["results"][0]["name"])
        cities.append(place['city'])
        countries.append(place['country'])
        hotel_lats.append(response["results"][0]["geometry"]["location"]["lat"])
        hotel_lngs.append(response["results"][0]["geometry"]["location"]["lng"])
        

    except KeyError:
        print("open hotel not found fir place: " + place)
    except NameError:
        print("'name' not defined") 
    except ValueError:
        print("'value' not defined") 
    except IndexError:
        hotels.append(" ")
        cities.append(" ")
        countries.append(" ")
        hotel_lats.append(20)
        hotel_lngs.append(20)
    

hotel_df['hotel'] = hotels
hotel_df["city"] = cities
hotel_df["country"] = countries  
hotel_df["hotlat"] = hotel_lats
hotel_df["hotlon"] = hotel_lngs
hotel_df

,index,city,country,lat,lon,temp,hum,cloud,wind,hotel,hotlat,hotlon
0,19,Kashmor,PK,28.43,69.58,75.22,17,0,5.64,SSD SUPER KASHMORE,28.430846,69.581556
1,96,Rasulnagar,PK,32.33,73.78,71.60,60,0,5.64,BILAL FOOD POINT,32.328999,73.782510
2,118,BhÄdra,IN,29.12,75.17,74.37,19,0,2.06,Bhadra Police Station,29.104195,75.159638
3,145,Samaro,PK,25.28,69.40,78.75,39,0,9.26,Vikki Milk Shop,25.283343,69.392493
4,166,Kozan,TR,37.46,35.82,76.62,28,0,5.82,Kozan Özel Hakan Erkek Öğrenci Yurdu |Kozan Er...,37.446924,35.817693
5,183,SamÄstipur,IN,25.85,85.78,75.74,48,0,4.70,Roy Ultrasound,25.858683,85.777414
6,262,Jhajha,IN,24.77,86.37,74.07,55,0,3.00,SBI ATM,24.771909,86.386201
7,295,Villavieja,ES,39.85,-0.18,70.50,40,0,8.05,Cafo's,39.857645,-0.151664
8,301,TÅ«krah,LY,32.53,20.58,70.74,62,0,7.63,محل بنت الحاج ملابس اطفال نساء,32.528835,20.580697
9,337,Chak Five Hundred Seventy-five,PK,31.55,73.83,73.40,56,0,3.78,Reliance Cotton Spinning Mills Ltd.,31.580600,73.810293
10,406,NÄngloi JÄt,IN,28.68,77.07,77.05,49,0,2.80,Oriental Bank Of Commerce ATM,28.681901,77.068404
11,466,AnÅ«pgarh,IN,29.19,73.21,79.11,15,0,8.99,Sethi Villa,29.184622,73.212016
12,474,Madeji,PK,27.75,68.45,73.40,56,0,4.03,Maki Madani hotal Madeji,27.749836,68.451538
13,480,Ahmadpur East,PK,29.14,71.26,71.10,20,0,2.19,Ahmedpur East Toll Plaza,29.135895,71.215250
14,494,Kamoke,PK,31.97,74.22,71.29,56,0,4.36,PSO Petrol Pump,31.961206,74.224411

In [27]:
# Get names of indexes for which column Age has value 30
indexNames = hotel_df[ hotel_df['hotel'] == " " ].index
# Delete these row indexes from dataFrame
hotel_df.drop(indexNames , inplace=True)
hotel_df

,index,city,country,lat,lon,temp,hum,cloud,wind,hotel,hotlat,hotlon
0,19,Kashmor,PK,28.43,69.58,75.22,17,0,5.64,SSD SUPER KASHMORE,28.430846,69.581556
1,96,Rasulnagar,PK,32.33,73.78,71.60,60,0,5.64,BILAL FOOD POINT,32.328999,73.782510
2,118,BhÄdra,IN,29.12,75.17,74.37,19,0,2.06,Bhadra Police Station,29.104195,75.159638
3,145,Samaro,PK,25.28,69.40,78.75,39,0,9.26,Vikki Milk Shop,25.283343,69.392493
4,166,Kozan,TR,37.46,35.82,76.62,28,0,5.82,Kozan Özel Hakan Erkek Öğrenci Yurdu |Kozan Er...,37.446924,35.817693
5,183,SamÄstipur,IN,25.85,85.78,75.74,48,0,4.70,Roy Ultrasound,25.858683,85.777414
6,262,Jhajha,IN,24.77,86.37,74.07,55,0,3.00,SBI ATM,24.771909,86.386201
7,295,Villavieja,ES,39.85,-0.18,70.50,40,0,8.05,Cafo's,39.857645,-0.151664
8,301,TÅ«krah,LY,32.53,20.58,70.74,62,0,7.63,محل بنت الحاج ملابس اطفال نساء,32.528835,20.580697
9,337,Chak Five Hundred Seventy-five,PK,31.55,73.83,73.40,56,0,3.78,Reliance Cotton Spinning Mills Ltd.,31.580600,73.810293
10,406,NÄngloi JÄt,IN,28.68,77.07,77.05,49,0,2.80,Oriental Bank Of Commerce ATM,28.681901,77.068404
11,466,AnÅ«pgarh,IN,29.19,73.21,79.11,15,0,8.99,Sethi Villa,29.184622,73.212016
12,474,Madeji,PK,27.75,68.45,73.40,56,0,4.03,Maki Madani hotal Madeji,27.749836,68.451538
13,480,Ahmadpur East,PK,29.14,71.26,71.10,20,0,2.19,Ahmedpur East Toll Plaza,29.135895,71.215250
14,494,Kamoke,PK,31.97,74.22,71.29,56,0,4.36,PSO Petrol Pump,31.961206,74.224411

In [28]:
locations = hotel_df[["hotlat", "hotlon"]]
weights = hotel_df["hum"]

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights, 
                                 dissipating=True, max_intensity=50,
                                 point_radius=15,opacity=.8)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{hotel}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_info

['\n<dl>\n<dt>Hotel</dt><dd>SSD SUPER KASHMORE</dd>\n<dt>City</dt><dd>Kashmor</dd>\n<dt>Country</dt><dd>PK</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel</dt><dd>BILAL FOOD POINT</dd>\n<dt>City</dt><dd>Rasulnagar</dd>\n<dt>Country</dt><dd>PK</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel</dt><dd>Bhadra Police Station</dd>\n<dt>City</dt><dd>BhÄ\x81dra</dd>\n<dt>Country</dt><dd>IN</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel</dt><dd>Vikki Milk Shop</dd>\n<dt>City</dt><dd>Samaro</dd>\n<dt>Country</dt><dd>PK</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel</dt><dd>Kozan Özel Hakan Erkek Öğrenci Yurdu |Kozan Erkek Öğrenci Yurtları | Kozan Yurtlar</dd>\n<dt>City</dt><dd>Kozan</dd>\n<dt>Country</dt><dd>TR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel</dt><dd>Roy Ultrasound</dd>\n<dt>City</dt><dd>SamÄ\x81stipur</dd>\n<dt>Country</dt><dd>IN</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel</dt><dd>SBI ATM</dd>\n<dt>City</dt><dd>Jhajha</dd>\n<dt>Country</dt><dd>IN</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel</dt><dd>Cafo's</dd>\n<dt>City</dt><dd>Villavieja</dd>\n<dt>Country</dt><dd>ES</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel</dt><dd>محل بنت الحاج ملابس اطفال نساء</dd>\n<dt>City</dt><dd>TÅ«krah</dd>\n<dt>Country</dt><dd>LY</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel</dt><dd>Reliance Cotton Spinning Mills Ltd.</dd>\n<dt>City</dt><dd>Chak Five Hundred Seventy-five</dd>\n<dt>Country</dt><dd>PK</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel</dt><dd>Oriental Bank Of Commerce ATM</dd>\n<dt>City</dt><dd>NÄ\x81ngloi JÄ\x81t</dd>\n<dt>Country</dt><dd>IN</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel</dt><dd>Sethi Villa</dd>\n<dt>City</dt><dd>AnÅ«pgarh</dd>\n<dt>Country</dt><dd>IN</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel</dt><dd>Maki Madani hotal Madeji</dd>\n<dt>City</dt><dd>Madeji</dd>\n<dt>Country</dt><dd>PK</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel</dt><dd>Ahmedpur East Toll Plaza</dd>\n<dt>City</dt><dd>Ahmadpur East</dd>\n<dt>Country</dt><dd>PK</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel</dt><dd>PSO Petrol Pump</dd>\n<dt>City</dt><dd>Kamoke</dd>\n<dt>Country</dt><dd>PK</dd>\n</dl>\n']

In [30]:
locations = hotel_df[["hotlat", "hotlon"]]
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(
        locations, info_box_content=hotel_info, hover_text=hotel_info
    )
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))